body {
  font-family: Roboto;
}

#content {
  width: 700pt;
  margin: 0 auto;
}

.chart {
  display: block;
  margin: 0 auto;
}

.chart-title {
  font-size: 12px;
}

.label {
  font-size: 12px;
  fill: black;
}

.legend-item {
  font-size: 10px;
}

div.tooltip {
  font-size: 1em;
  position: absolute;
  z-index: 5;
  pointer-events: none;
  border-radius: 3px;
  text-align: middle;
  opacity: 0;
  background: rgba(200,200,200,0.75);
  padding-left: 0.125em;
  padding-right: 0.125em;
  padding-top: 0.125em;
  padding-bottom: 0.125em;
  visibility: visible;
}
